body
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-style: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.15em;
    color: #222222;
}


.head
{
    padding-top: 0px;
    position: fixed;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: 65px;

}
#mobile_head_menu
{
    display: none;
}
#mobile_head_logo{
    display: none;

}
#mobile_head_backet
{
    display: none;
}
#mobile_head_menuButton
{
    display: none;
}
.head_number
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 65px;
}

.head_navi
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
}

.head_number_image
{
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.head_number_numberPhone
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.greetings_image
{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-image: url(../image/main/main.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#carouselOurGalare
{
    width: 80vw;
    height: 50vw;
}
.d-block{
    position: absolute;
}
.w-100
{
    width: 80vw;
    height: 50vw;
}
.head_navi_li
{
    list-style-type: none;
    margin-right: 50px;
}
a
{
    text-decoration: none;
    color: #222222;
}
.head_navi_li a:hover
{
    color: #D29475;
}

.mainScreen
{
    margin-left: 20%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.mainScreen_mainText
{
    margin-top: 2%;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    line-height: 93.8%;
    color: #222222;
}

.mainScreen_Text
{
    margin-top: 2%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.14em;
    color: #B6ACA7; 
}

.why_we_are{
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why_we_are_title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 93.8%;
    letter-spacing: 0.005em;
    margin-top: 10%;
    padding-left: 20%;
    width: 80%;

}

.why_we_are_main{
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10%;

}

.why_we_are_blocks{
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;
    margin-right: 70px;
}

.block_image{
    border-radius: 50%;
    background-color: #F9F4EE;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_title{
    padding-top: 5%;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 93.8%;
    text-align: center;
}

.block_text{
    padding-top: 7%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 95.8%;
    text-align: center;
    letter-spacing: 0.055em;
    color: #9C9089;
}

.ourGalare
{
    background-color: #F9F4EE;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ourGalare_maintext
{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 93.8%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #222222;
}
.ourGalare_text1
{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 95.8%;
    text-align: center;
    letter-spacing: 0.055em;
    color: #9C9089;
}
.ourGalare_text2
{
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 95.8%;
    text-align: center;
    letter-spacing: 0.055em;
    color: #9C9089;
}

.ourGalare_photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourGalare_photo_up_left
{
    width: 705px;
    height: 445px;
    background-image: url(../image/main/Rectangle\ 4.png);
}
.ourGalare_photo_up
{
    display: flex;
    flex-direction: row;
}

.ourGalare_photo_up_right
{
    margin-left: 25px;
    display: flex;
    flex-direction: row;
}

.ourGalare_photo_up_right_right{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.ourGalare_photo_up_right_left{
    display: flex;
    flex-direction: column;
}

.ourGalare_photo_down{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.ourGalare_photo_elements1{
    background-image: url(../image/main/Rectangle\ 7.png);
    width: 210px;
    height: 210px;
}
.ourGalare_photo_elements2{
    background-image: url(../image/main/Rectangle\ 8.png);
    margin-top: 25px;
    width: 210px;
    height: 210px;
}

.ourGalare_photo_elements3{
    background-image: url(../image/main/Rectangle\ 9.png);
    width: 210px;
    height: 210px;
}

.ourGalare_photo_elements4{
    background-image: url(../image/main/Rectangle\ 10.png);
    margin-top: 25px;
    width: 210px;
    height: 210px;
}

.ourGalare_photo_down_1{
    width: 340px;
    height: 342px;
    background-image: url(../image/main/Rectangle\ 5.png);
}

.ourGalare_photo_down_2{
    width: 340px;
    height: 342px;
    margin-left: 25px;
    margin-right: 25px;
    background-image: url(../image/main/Rectangle\ 6.png);
}

.ourGalare_photo_down_3{
    width: 444px;
    height: 342px;
    background-image: url(../image/main/Rectangle\ 11.png);
}

.ourGalare_photo_right
{
    width: 244pxd'sf;ls';
}
.ourGalare_photo_left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ourGalare_main
{
    background-color: #F9F4EE;
    width: 100%;
    height: 990px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.how_we_work{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 7vh;
}

.left_branch{
    height: 787px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.how_we_work_main{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.how_we_work_title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 93.8%;
    text-align: center;
    letter-spacing: 0.005em;
    margin-top: 112px;
}

.how_we_work_info{
    margin-top: 81px;
    display: flex;
    flex-direction: row;
}

.how_we_work_points{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.how_we_work_info_text{
    margin-left: 40px;
}

.how_we_work_point{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

.how_we_work_point_margin{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.how_we_work_point_madropdown-content
.how_we_work_point_title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 93.8%;
    text-align: center;
}

.how_we_work_point_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 95.8%;
    letter-spacing: 0.055em;
    color: #9C9089;
    margin-top: 14px;
}

.right_branch{
    /*transform: matrix(-1, 0.09, 0.09, 1, 0, 0);*/
    transform: rotateX(-1);
}

.aboutCompani_right_head{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 93.8%;
    letter-spacing: 0.005em;
    color: #222222;
}

.aboutCompani_right{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95.8%;
    text-align: justify;
    letter-spacing: 0.055em;
    color: #9C9089;
}

.aboutCompani_right_line{
    width: 345px;
    background-color: #D29475; 
    margin-top: 60px;
    margin-bottom: 60px;
    height: 1px;
}

.aboutCompani_right_text{
    width: 600px;
    text-align:justify;
}

.aboutCompani{
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F9F4EE;
}
.aboutCompani_left{
    margin-right: 220px;
}

.asortmen{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.asortmen_headText{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 93.8%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #222222;
}
.asortmen_text
{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 95.8%;
    text-align: center;
    letter-spacing: 0.055em;
    color: #9C9089;
}

.viewAll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 45px;
    border: 2px solid #D29475;
    border-radius: 4px;
    color: #D29475;
}

.viewAll_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 93.8%;
    text-align: center;
    letter-spacing: 0.05em;
    
}

.viewAll:hover
{
    border-color: #D29475;
    background-color: #D29475;
    color:white;

}
.asortmen_block
{
    margin-top: 105px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.asortmen_block_elements
{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}
.asortmen_block_elements_picture{
    background-color: #F5EDE2;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asortmen_block_elements_headText
{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 93.8%;
    text-align: center; 
    color: #222222;
    margin-top: 30px;
    margin-bottom: 30px;
}

.asortmen_block_elements_price{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 95.8%;
    text-align: center;
    letter-spacing: 0.14em;
    color: #9C9089;
}

.mainAsorti{
    display: flex;
    flex-direction: row;
}
.question
{
    padding-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D29475;
}

.qustion_body{
    display: flex;
    flex-direction: column;
}

.question_mainText
{
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 93.8%;
  letter-spacing: 0.005em;
  color: #F9F4EE;
}

.question_inputing_up{
    background-color: #D29475;
    border: none;
    outline:none;
    width:430px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 95.8%;
    letter-spacing: 0.11em;
    color: #F9F4EE;
}

.question_inputing_down
{
    resize: none;
    background-color: #D29475;
    border: none;
    outline:none;
    width: 1000px;
    height: 200px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 95.8%;
    letter-spacing: 0.11em;
    color: #F9F4EE;
}

.question_inputing_down::placeholder
{
    color: #F9F4EE;

}

.question_inputing_up::placeholder
{
    color: #F9F4EE;
}
.question_input
{
    display: flex;
    flex-direction: column;
}
.question_line
{
    width:430px;
    height: 2px;
    background-color: #F9F4EE;
    margin-bottom: 70px;
}

.question_input_up
{
    display: flex;
    flex-direction: row;
}

.question_input_down
{
    display: flex;
    flex-direction: column;
}

.question_input_right{
    margin-left: 125px;
}

textarea::-webkit-input-placeholder {
    color: #0bf;
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    color: #0bf;  
  }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #0bf;  
  }
  
  textarea:-ms-input-placeholder {
    color: #0bf;  
  }
  
  textarea::placeholder {
    color: #0bf;  
  }

  .question_submit
  {
    background-color: #F9F4EE;
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    background-image: url(../image/main/question_submit.png);
    background-repeat: no-repeat;
    background-position: center;

  }
  .question_line_texarea
  {
    width: 1000px;
    height: 2px;
    background-color: #F9F4EE;
    margin-bottom: 70px;

  }
  .question_input_down_row
  {
    display: flex;
    flex-direction: row;
  }

  .question_div_submit
  {
    margin-left: 50px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
.underground{
    background-color: #F5EDE2;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.underground_content{
    width: 60%;
    margin-top: 5vh;
}

.underground_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.underground_top_left{
    display: flex;
    flex-direction: row;
  }

.underground_top_text_1{
    margin-top: 1.25vh;
    margin-left: 5vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 93.8%;
    letter-spacing: 0.095em;
    color: #D29475;
  }
.underground_top_text_2{
    margin-top: 0.75vh;
    margin-left: 5vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 93.8%;
    letter-spacing: 0.095em;
    color: #222222;
}

.underground_top_right{
    display: flex;
    flex-direction: column;
}

.underground_top_right_1{
    display: flex;
    flex-direction: row;
}

.underground_top_right_2{
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
}

.underground_top_right_text{
    padding-top: 0.25vh;
    padding-left: 1vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 93.8%;
    letter-spacing: 0.095em;
    color: #222222;
}

.underground_middle{
    width: 100%;
    margin-top: 3vh;
    background-color: #D7C4AA;
    height: 0.15vh;
}

.underground_botom{
    margin-top: 2vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 93.8%;
    letter-spacing: 0.095em;
    color: #222222;
    margin-bottom: 3vh;
}
#mobile_downHead
{
    margin-top: 65px;
    display: none;
    padding-bottom: 20px;
}
@media (max-width: 1000px) {
    .mainScreen_mainText{
        display: none;
    }
    .greetings_image{
        width: 100%;
        height: 580px;
        display: flex;
        flex-direction: column;
    }
    .dropdown-content
    {
        display: none;
        margin-top: 20px;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover
    {
        background-color: #9C9089;
    }
    #mobile_head_menuButton
    {
        cursor: pointer;
        display: flex;
        border: none;
        background-color: white;
    }
    .mainScreen_Logo
    {
        margin-left: 20%;
        margin-top: 100px;
    }
    .mainScreen_Text
    {
        margin-left: 20%;
    }
    .head{
        padding-left: 0;
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .mainScreen
    {
        
        margin: 0;
    }
    .mainScreen_Text{
        margin-top: 5vh;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.14em;
        color: #B6ACA7;
    }
    #mobile_head_logo
    {
        display: flex;
    }
    #mobile_head_menu
    {
        display: flex;
    }
    #mobile_head_backet{
        display: flex;
    }
    #mobile_downHead{
        display: none;
        position: fixed;
        flex-direction: column;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.15em;
        background-color: white;
        width: 100%;
        flex-direction: column;
    }
    .mobileHeadMenuContent
    {
        display: flex;
        align-items: center;
        padding-left: 16%;    
        height: 30px;
    }
    .mobileHeadMenuContent:hover
    {
        color: #D29475;
    }
    .lineHeadMobile
    {
        margin-left: 16%;
        margin-right: 16%;
        width: 68%;
        height: 1px;
        background-color: #BBB1AB;
    }
    .head_number
    {
        display: none;
    }
    .why_we_are
    {
        padding-bottom: 10vh;
    }
    .why_we_are_title
    {
        font-size: 30px;
        padding: 0;
        width: auto;
        margin-left: 0;
        
    }
    .why_we_are_main
    {
        flex-direction: column;
        padding-bottom: 0;
    }
    .why_we_are_blocks
    {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .ourGalare_photo
    {
     display: none;   
    }
    .ourGalare_photo_left
    {
        display: none;
    }
    .ourGalare_photo_right
    {
        display: none;
    }
    .ourGalare_main{
        height: auto;
        
    }
    .our0Galare_photo_left
    {
        display: none;
    }
    .ourGalare_main
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #carouselOurGalareleftB{
        height: 100%;
        width: 100px;
    }
    #carouselOurGalarerightB
    {
        height: 100%;
        width: 100px;
    }
 /*
asds
asda
    */
    
    .how_we_work
    {
        display: none;
    }
    .aboutCompani
    {
        display: none;
    }
    .asortmen
    {
        display: none;
    }
    .question
    {
        display: none;
    }
    .underground
    {
        display: none;
    }
}